* {
  margin: 0%;
  padding: 0%;
  font-family: Inter, sans-serif;
  font-weight: bold;
  size: 18px;
  line-height: 30px;
}

body {
  color: rgb(19, 19, 19);
  background-repeat: no-repeat;
  background-color: white;
}
.first-section {
  color: rgb(241, 234, 234);
  background-image: url(../imagens/montanhas.png) !important;
  background-repeat: no-repeat;
  box-sizing: none !important;
  background-position: 30% 45%;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  width: 100vw;
}

#minha-foto {
  width: 14rem;
  height: 13.5rem;
  border-radius: 20rem;
}

.img-carrousel {
  width: 100vw;
  height: 80vh;
}

h2{
  font-weight:bolder;
}
.teconologias li {
  margin-top: 0.1rem;
  list-style: none;
  text-align: start;
}
.posicao-contatos {
  bottom: 8rem !important;
}

.link-contatos {
  text-decoration: none !important;
  color: rgb(17, 16, 16) !important;
}
.link-contatos-footer {
  text-decoration: none !important;
  color: #fff !important;
}
.link-contatos-footer:hover {
  color: darkgray !important;
}
.link-contatos:hover {
  color: darkgray !important;
}
.tamanho-icon {
  font-size: 2rem;
  padding-left: 0.5em;
}

#focus {
  position: relative;
  color: #fff;
}
#focus:hover {
  color: rgb(209, 202, 202);
}
#focus:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 0.03rem;
  bottom: 0.5rem;
  left: 0.41rem;
  background-color: rgb(245, 240, 240);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#focus:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* 
  .nav{
display: none;
  } */

.projetos {
  color: rgb(91, 8, 8);
}

.alinhamento {
  text-align: center;
  background-color: black;
  color: white;
  position: absolute;
}
.img-tamanho {
  width: 20rem;
  height: 15rem;
}

.img-tec{
  box-shadow:  3px 3px 10px 1px  rgb(137, 133, 133);
width:15rem;
background-color: rgb(241, 235, 235);
margin-top: 20px;
margin-right: 20px;
border-radius: 15px;
}
.contato-fixed{
  font-weight: bolder;
  font-size: 20px;
  width: 65px;
  height: 65px;;
  background-color: rgb(221, 210, 210);
  color:black;
  position: fixed;
 right:4px;
 bottom: 25%;
 border-radius:50%;
line-height: 2px;
}
.contato-fixed:hover{
  background-color: darkgrey;
}
.imagem-whatsap{
  width:50px
}

@media (max-width: 750px) {
  .responsivo-btn-center {
    justify-content: center !important;
    align-items: center !important;
  }

  .responsivo-espacamente-left {
    display: none !important;
  }
  .responsivo-tecnologias {
    padding-left: 0px !important;
  }
  .row-responsivo {
    justify-content: space-around !important;
  }
  .item-responsivo{
    display:none;
  }
}
